

.task, .dropzone{
    transition: all 0.3s;
}

.dropzone{
    height: calc(100% - 100px);
}


.boards{
   flex-direction: row;
   justify-content: space-evenly;
}


.board{
    width: 25vw;
}

.todo .status{
    background-color: yellow;
}

.in-progress .status{
    background-color: blue;
}

.done .status{
    background-color: green;
}

.task{
    display: grid;
    grid-template-columns: 90% 10%;
    /* max-height: 4rem; */
    grid-template-rows: auto auto;
    grid-template-areas: "st del"
                        "name del";
    align-items: center;
    justify-content: center;
}

.status{
    margin: 0.25rem;
    width: 15px;
    height: 15px;
    border-radius: 40%;
    grid-area: st;
}

.box{
    margin: 0.25rem;
    grid-area: name;
}

.delete{
    cursor: pointer;
    grid-area: del;
}

.highlight{
    background-color: #646464;
}

.is-dragging{
    cursor: move;
    opacity: 0;
}

.in-over{
    background-color: #48758b;
}

